/*
    Author: CommerceGurus
    Author URI: http://www.commercegurus.com
    License: GNU General Public License version 3.0
    License URI: http://www.gnu.org/licenses/gpl-3.0.html

----------------------------------------------------------------
>>> RESPONSIVE
----------------------------------------------------------------
*/

@media only screen and (min-width: 1100px) {
  .activate-mobile-search {
    display: none;
  }

  .pl-40 {
    padding-left: 40px !important; /* Required */
  }
}

@media only screen and (max-width: 1100px) {

  body {
    overflow-x: hidden;
  }

  .cg-menu-below .leftnav.text-logo {
    position: absolute;
    top: 0px;
    height: 60px;
    line-height: 60px;
  }

  .text-logo a {
    top: 7px;
  }

  .page-container {
    top: auto;
    margin-bottom: auto;
  }

  #mobile-menu {
    display: none !important; /* Required */ 
  }

  body #live-preview .open {
    display: none;
  }

  .rightnav .extra {
    display: none;
  }

  /* Responsive Header */

  .cg-transparent-header {
    height: 60px; /* Mobile height is fixed */
    line-height: inherit;
    background: #eee;
    top: 0px !important; /* Required to overrule inline style */
  }

   .cg-transparent-header .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cg-menu-below .cg-header-cart {
    position: absolute;
    left: 15px;
  }

  .cg-menu-below .logo a {
    line-height: 60px;
  }

  .cg-primary-menu-below-wrapper .container {
    position: relative;
    padding: 0px 15px;
  }

  .cg-logo-below .leftnav {
    line-height: 60px;
    height: 60px;
    left: 0px;
    right: 0px;
  }

  .cg-transparent-header .col-lg-12 {
    position: inherit;
  }

  .cg-primary-menu,
  .cg-header-fixed-wrapper,
  .site-search {
    display: none;
  }

  .logo img,
  .cg-menu-below .logo img {
    max-height: 35px;
  }

  .leftnav.logo {
    position: absolute;
    width: 100%;
    top: 0px;
  }

  body.page-template-page-full-width .content-area .entry-content .cg-section .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .vc_tta-panels {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  body .vc_tta.vc_general .vc_tta-panel-body {
    padding-top: 0px;
  }

  body .vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading:hover, 
  body .vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading:focus {
    background-color: transparent;
  }

  .sidebar #secondary {
    padding-right: 0px;
  }

  .sidebar.right #secondary {
    padding-left: 0px;
  }

}


@media (min-width: 992px) and (max-width: 1200px) {

  .rightnav input.search-field {
    width: 135px;
  }

}

@media only screen and (max-width: 992px) {

  /* Hide Share Options on mobile */
  .breadcrumbs-wrapper p.cg-share {
    display: none;
  }

  .first-footer h4.widget-title {
    margin-top: 30px;
  }

  .row-eq-height {
    display: block;
  }

  /* Mobile Footer */
  .first-footer {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: auto !important; /* Required */
  }

  .first-footer .inner-widget-wrap {
    padding: 0px;
    border: none;
    flex: auto;
  }

  .second-footer {
    position: relative;
    height: auto !important; /* Required */
  }

  .second-footer ul.inline.right {
    text-align: left;
    margin-top: 7px;
    margin-left: -16px;
  }

  .top-bar-right {
    text-align: left;
  }

  .cg-announcements .top-bar-right ul li {
    margin-left: 0px;
    margin-right: 20px;
  }

  .sidebar #secondary {
    border: none;
    flex: auto;
    padding-bottom: 30px;
  }

  .sidebar.right .widget.button.icon i {
    left: 13px;
  }

  .sidebar.right #secondary {
    border: none;
  }

}

@media only screen and (max-width: 768px) {

  textarea,
  input[type="text"],
  input[type="email"],
  input[type="button"],
  input[type="submit"] {
     -webkit-appearance: none;
     border-radius: 0;
  }

  #css-awards {
    display: none;
  }

  /* Mobile Details */
  .mobile-header-details {

    padding-top: 15px;
    display: block;
  }

  .mobile-header-details .cg-header-details {
    top: auto;
    transform: inherit;
    border: none;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  .mobile-header-details .cg-header-details h4 {
    margin-bottom: 0px;
  }

  /* Hide top bar */
  .cg-announcements {
    display: none;
  }

  .cg-announcements.mobile-visible {
    display: block;
  }

  .cg-announcements.mobile-visible .top-bar-right {
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    padding-top: 8px;
    margin-top: 5px;
  }

  .cg-announcements.mobile-visible .top-bar-right ul {
    margin-bottom: -2px;
  }

  .cg-announcements.mobile-visible .top-bar-left ul li {
    display: block;
  }

  body .ls-noskin .ls-nav-prev,
  body .ls-noskin .ls-nav-next {
    display: none;
  }

  .vertical-align {
    display: block;
  }

  .top-bar-right {
    text-align: left;
  }

  .rightnav {
    float: none;
  }

  .cg-menu-below .cg-extras .cg-header-details i {
    position: relative;
    left: auto;
    float: left;
  }

  .cg-header-details {
    margin-left: 0px;
  }

  .cg-menu-below .cg-extras .cg-header-details {
    float: none;
  }

  .blog-meta span.comments {
    float: none;
    display: block;
  }

  .comments-area {
    padding: 30px 15px;
  }

  .comments-area h2.comments-title {
    font-size: 24px;
  }

  .comment-list li.comment {
    padding-left: 0px;
  }

  .comment-list .avatar {
    position: relative;
    display: block;
    margin-bottom: 20px;
  }

  .content-area blockquote.pull-left {
    float: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .content-area blockquote.pull-right {
    float: none;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 25px;
  }

  .join_top, .join_bottom, .down_arrow {
    display: none;
  }

  .comment-form input, .comment-form textarea {
    width: 100%;
    float: none;
  }

  .comment-form input.submit {
    margin-left: 0px;
    margin-top: 20px;
  }

  .blog-meta span.cg-blog-author:after {
    display: none;
  }

  .blog-meta span.comments {
    display: block;
  }

  body .header-wrapper,
  body.woocommerce-page .header-wrapper {
    padding: 55px 0px 55px;
  }

  .header-wrapper h1.cg-page-title {
    font-size: 30px;
    line-height: 1.4em;
  }

  .cg-share.btn-group {
    display: none;
  }

  .first-footer .textwidget img.logo {
    max-width: 200px;
  }

  .second-footer ul.inline.right {
    text-align: left;
    margin: 5px 0px 0px 20px;
  }

  .second-footer ul {
    margin-bottom: 10px;
  }

  .second-footer ul.inline.right li {
    margin-left: 0px;
    margin-right: 20px;
  }

  /* Responsive Images */
  .vc_single_image-wrapper,
  .vc_single_image-wrapper img {
    width: 100%;
  }

  .testimonial .vc_single_image-wrapper img {
    width: auto;
  }

  /* Responsive WooCommerce */
  .woocommerce-result-count {
    width: 100%;
  }

  body.woocommerce .woocommerce-ordering {
    float: none;
    margin-bottom: 10px;
  }

  .woocommerce ul.products li.product, 
  .woocommerce-page ul.products li.product {
    width: 47.5%;
    margin-bottom: 2em;
  }

  .woocommerce .products ul, 
  .woocommerce ul.products {
    margin-right: -2px;
  }

  .woocommerce #review_form p.stars span {
    left: auto;
    float: none;
    width: 100%;
  }

  .woocommerce #review_form #respond p.stars {
    clear: both;
  }

  body.woocommerce #review_form #respond textarea {
    width: 100%;
  }

  .woocommerce table.shop_table {
    font-size: 14px;
    line-height: 1.45em;
  }

  .woocommerce table.shop_table thead th {
    padding: 7px 4px;
    font-size: 13px;
  }

  .woocommerce table.shop_table td {
    padding-left: 4px;
    padding-right: 4px;
  }

  .woocommerce table.cart td.actions .button {
    width: 100%;
  }

  .woocommerce-cart table.cart td.actions .coupon .button {
    width: 100%;
  }

  .woocommerce-cart table.cart td.actions .coupon .input-text {
    float: none;
    width: 100%;
    margin-bottom: 5px;
  }

  .woocommerce-info a.showlogin,
  .woocommerce-info a.showcoupon {
    display: inline-block;
    clear: both;
  }

  .woocommerce form .form-row-first, .woocommerce form .form-row-last, 
  .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    width: 100%;
  }

  .woocommerce-checkout #payment {
    padding: 0px;
  }

  .woocommerce table.woocommerce-checkout-review-order-table tfoot th,
  .shop_table.order_details th {
    width: 40%;
  }

  .woocommerce .order_details li {
    border: none;
    float: none;
    margin: 0px;
    margin-bottom: 15px;
  }

  body.woocommerce-account .woocommerce-MyAccount-navigation,
  body.woocommerce-account .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
  }


}